# Build
build/
out/
*.sys
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# IDE
.vs/
.vscode/
.cursor/
.kiro/
.idea/
*.user
CMakeSettings.json

# OS
Thumbs.db
Desktop.ini
.DS_Store
