name: Release

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  meta:
    name: 版本信息
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 解析版本
        id: set_tag
        run: |
          tag="${{ github.ref_name }}"
          is_release=${{ startsWith(github.ref, 'refs/tags/v') }}

          if ! $is_release; then
            tag="$(date +v0.0.0-%y%m%d-$(git rev-parse --short HEAD))"
          fi

          is_prerelease=false
          if [[ $tag =~ .*alpha.* || $tag =~ .*beta.* || $tag =~ .*rc.* ]]; then
            is_prerelease=true
          fi

          echo "tag=$tag" | tee -a $GITHUB_OUTPUT
          echo "is_release=$is_release" | tee -a $GITHUB_OUTPUT
          echo "is_prerelease=$is_prerelease" | tee -a $GITHUB_OUTPUT

    outputs:
      tag: ${{ steps.set_tag.outputs.tag }}
      is_release: ${{ steps.set_tag.outputs.is_release }}
      is_prerelease: ${{ steps.set_tag.outputs.is_prerelease }}

  build:
    name: 构建 (${{ matrix.arch }})
    needs: meta
    strategy:
      matrix:
        arch: [x64, ARM64]
      fail-fast: false
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: 配置 CMake
        run: cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }}

      - name: 编译
        run: cmake --build build --config Release

      - name: 打包
        shell: pwsh
        run: |
          Compress-Archive -Path build/Release/OpenSysKit.sys -DestinationPath "OpenSysKit-Driver-${{ matrix.arch }}-${{ needs.meta.outputs.tag }}.zip"

      - uses: actions/upload-artifact@v4
        with:
          name: OpenSysKit-Driver-${{ matrix.arch }}
          path: "OpenSysKit-Driver-${{ matrix.arch }}-${{ needs.meta.outputs.tag }}.zip"

  release:
    name: 发布
    if: ${{ needs.meta.outputs.is_release == 'true' }}
    needs: [meta, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: OpenSysKit-Driver-*
          path: artifacts
          merge-multiple: true

      - name: 发布 Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*.zip
          tag_name: ${{ needs.meta.outputs.tag }}
          generate_release_notes: true
          draft: false
          prerelease: ${{ needs.meta.outputs.is_prerelease == 'true' }}
